:root {
  --r1: #e5c7ff;
  --r2: #cdb8ff;
  --r3: #c0a5fe;
  --r4: #bd87f8;
  --r5: #a87cf4;
  --r6: #9668e6;
  --r7: #a238f2;
  --r8: #871bd7;
  --r9: #6f00c0;
  --r10: #371054;
  --r11: #170942;
  --r12: #120637;
  --r13: #09031a;
  --r14: #040110;
  --c14: #0d0d0d;
  --c13: #141414;
  --c12: #292929;
  --c11: #3d3d3d;
  --c10: #525252;
  --c9: #666666;
  --c8: #7a7a7a;
  --c7: #8f8f8f;
  --c6: #a3a3a3;
  --c5: #b8b8b8;
  --c4: #cccccc;
  --c3: #e0e0e0;
  --c2: #f0f0f0;
  --c1: #f5f5f5;
}
