#header {
  display: flex;
  align-items: center;
  gap: 20px;
}

#header .logo {
  font: 600 3.2rem/1.5 "Playfair Display";
  color: var(--r10);
  margin-right: 40px;
}

#header span {
  color: var(--r8);
  font-style: italic;
}

#input-wrapper input {
  height: 2.8rem;
  width: 660px;
  border-radius: 32px;
  padding-left: 32px;
  background: linear-gradient(
    #f9f2ff 0%,
    #efe2f8 40%,
    #efe2f8 70%,
    #f9f2ff 100%
  );

  border: var(--r10) solid 3px;
}

#input-wrapper > input,
#input-wrapper > input::placeholder {
  font: 500 1.25rem/1.5 "Poppins";
  color: var(--r4);
}

#header #input-wrapper {
  position: relative;
}

.search-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 6px;
  right: 16px;
  position: absolute;
  cursor: pointer;
}

.modal {
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--c1);
  margin: 6% auto;
  padding: 32px 40px;
  border-radius: 4px;
  width: 30%;
  position: relative;
}

.modal-content label {
  font: 500 1rem/1.5 "Poppins";
  display: block;
  margin-top: 4px;
}

.modal-content input {
  margin-top: 4px;
  border: var(--r12) solid 2px;
  border-radius: 8px;
  width: 96%;
  height: 32px;
  background: #f6eaff;
  padding-left: 8px;
  font: 500 1rem/1.5 "Poppins";
}

.modal-content > a {
  margin-top: 12px;
  background: linear-gradient(var(--r8) 0%, var(--r11) 100%);
  display: block;
  text-align: center;
  font: 500 1.2rem/1.2 "Roboto";
  color: var(--c1);
  padding: 12px 0px;
  border-radius: 4px;
}

.modal-content p {
  color: var(--c10);
  font: 400 0.9rem/1.2 "Poppins";
  text-align: center;
}

.modal-content p a {
  text-decoration: underline;
}

.modal-content img {
  cursor: pointer;
  position: absolute;
  right: -16px;
  top: -12px;
}

.cadastro-link {
  position: relative;
  margin-top: 12px;
}

.cadastro-link::after {
  content: "";
  width: 100%;
  height: 1.8px;
  background-color: var(--c6);
  position: absolute;
  left: 0px;
  top: 24px;
}

.modal h3 {
  text-align: center;
  font: 600 1.7rem/1.5 "Poppins";
}

.modal .protect {
  padding: 0px;
  text-align: center;
  font: 500 0.8rem/1 "Poppins";
  position: relative;
  margin-bottom: 12px;
  color: var(--c14);
}

.modal .protect::before {
  display: block;
  content: "";
  background-image: url("../img/protected.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: 3.6rem;
}

p.termos {
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 16px;
}

.modal-error .modal-content {
  padding: 0px 0px 24px 0px;
}

.modal-error a {
  background: #9c4a5c;
  margin: 0px 48px;
}

.modal-error span {
  background-color: #9c4a5c;
  height: 100px;
  display: block;
  padding: 0px 32px;
  border-radius: 0px 0px 12px 12px;
}

.modal-error p,
.modal-error h3 {
  margin: 0px 48px 12px 48px;
}

.modal-error h3 {
  margin-top: 48px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

#img-error {
  cursor: default;
  position: absolute;
  top: 28px;
  left: 120px;
  width: 120px;
}

#books {
  margin: 32px 48px;
}

#books ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font: 500 1.1rem/1.5 "Poppins";
  gap: 24px;
}

#books h2 {
  font: 500 1.2rem/1.1 "Poppins";
  color: var(--c13);
}

#books div {
  display: flex;
  align-items: center;
  color: var(--r9);
}

#books div img {
  width: 28px;
  height: 28px;
  padding-left: 74px;
}

#books #avaliacao {
  color: var(--r10);
}

#naoEncontrou {
  font: 600 2rem/1.5 "Playfair Display";
  text-align: center;
  padding: 40px 8px;
}

#categories ul {
  margin-top: 32px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  gap: 16px;
  color: var(--c14);
  justify-content: center;
  flex-wrap: wrap;
}

#categories li {
  background-color: #fbf6ff;
  border-radius: 20px;
  font: 500 1.25rem/1.5 "Roboto";
  padding: 6px 16px;
}

#categories .active {
  background: linear-gradient(var(--r8) 0%, var(--r10) 100%);
  color: var(--c2);
}

#links {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  color: var(--c1);
  font: 500 1.6rem/1.5 "Poppins";
  gap: 48px;
}

#links img {
  margin-right: 8px;
}

#links div {
  display: flex;
  gap: 4px;
  align-content: center;
}

#links a:hover {
  color: var(--r5);
}

#footer {
  padding-top: 40px;
  display: flex;
  gap: 120px;
  justify-content: center;
}

#footer h4 {
  color: var(--r10);
  font: 500 1.3rem/1.5 "Poppins";
  margin-bottom: 8px;
}

#footer p {
  color: var(--r13);
  font: 400 1rem/1.5 "Poppins";
}

#copyrigth {
  margin-top: 60px;
  margin-bottom: 32px;
  text-align: center;
  font: 500 1.3rem/1.5 "Roboto";
  color: var(--r12);
}
