#header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
}

#header #logo {
  font: 600 3.2rem/1.5 "Playfair Display";
  color: var(--r10);
  margin-right: 12px;
  white-space: nowrap;
  flex-shrink: 0;
}

#header span {
  color: var(--r8);
  font-style: italic;
}

#header #input-wrapper {
  width: 100%;
  max-width: 940px;
  flex: 1;
  position: relative;
  margin-right: 32px;
}

#input-wrapper input {
  height: 2.7rem;
  width: 97%;
  padding-left: 32px;
  border-radius: 32px;
  background: linear-gradient(
    #f9f2ff 0%,
    #efe2f8 40%,
    #efe2f8 70%,
    #f9f2ff 100%
  );

  border: var(--r10) solid 3px;
}

#input-wrapper > input,
#input-wrapper > input::placeholder {
  font: 500 1.3rem/1.5 "Poppins";
  color: var(--r4);
  padding-bottom: 4px;
}

.search-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 7px;
  right: 4px;
  left: auto;
  position: absolute;
  cursor: pointer;
}

#symbols {
  display: flex;
  gap: 20px;
}

#profilePhoto {
  display: inline-block;
  width: 40px;
  border-radius: 20px;
}

.modal {
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--c1);
  margin: 6% auto;
  padding: 32px 40px;
  border-radius: 4px;
  width: 30%;
  position: relative;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content label {
  font: 500 1rem/1.5 "Poppins";
  display: block;
  margin-top: 4px;
}

.modal-content input {
  margin-top: 4px;
  border: var(--r12) solid 2px;
  border-radius: 8px;
  width: 96%;
  height: 32px;
  background: #f6eaff;
  padding-left: 8px;
  font: 500 1rem/1.5 "Poppins";
}

.modal-content > a {
  margin-top: 12px;
  background: linear-gradient(var(--r8) 0%, var(--r11) 100%);
  display: block;
  text-align: center;
  font: 500 1.2rem/1.2 "Roboto";
  color: var(--c1);
  padding: 12px 0px;
  border-radius: 4px;
}

a.inative,
button.inative {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.modal-content p {
  color: var(--c10);
  font: 400 0.9rem/1.2 "Poppins";
  text-align: center;
}

.modal-content p a {
  text-decoration: underline;
}

.modal img {
  cursor: pointer;
  position: absolute;
  right: 420px;
  top: 28px;
  z-index: 10;
}

.cadastro-link {
  position: relative;
  margin-top: 12px;
}

.cadastro-link::after {
  content: "";
  width: 100%;
  height: 1.8px;
  background-color: var(--c6);
  position: absolute;
  left: 0px;
  top: 24px;
}

.modal h3 {
  text-align: center;
  font: 600 1.7rem/1.5 "Poppins";
}

#container-flex {
  display: flex;
  justify-content: center;
}

.modal .protect {
  padding: 0px;
  text-align: center;
  font: 500 0.8rem/1 "Poppins";
  position: relative;
  margin-bottom: 12px;
  color: var(--c14);
  display: inline-block;
}

.modal .protect::before {
  display: block;
  content: "";
  background-image: url("WeBook/img/protected.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: -24px;
}

p.termos {
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 16px;
}

.modal-error .modal-content {
  padding: 0px 0px 24px 0px;
}

.modal-error a {
  background: #9c4a5c;
  margin: 0px 48px;
}

.modal-error span {
  background-color: #9c4a5c;
  height: 100px;
  display: block;
  padding: 0px 32px;
  border-radius: 0px 0px 12px 12px;
}

.modal-error p,
.modal-error h3 {
  margin: 0px 48px 12px 48px;
}

.modal-error h3 {
  margin-top: 48px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

#img-error {
  cursor: default;
  position: absolute;
  top: 28px;
  left: 36%;
  width: 120px;
}

#books {
  margin: 32px 48px;
}

#books ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-content: center;
  gap: 16px;
  font: 500 1.1rem/1.5 "Poppins";
}

#books h2 {
  font: 500 1.2rem/1.1 "Poppins";
  color: var(--c13);
}

#books div {
  display: flex;
  align-items: center;
  color: var(--r9);
}

#books div img {
  width: 28px;
  height: 28px;
  padding-left: 74px;
}

#books #avaliacao {
  color: var(--r10);
}

#naoEncontrou {
  font: 600 2rem/1.5 "Playfair Display";
  text-align: center;
  padding: 40px 8px;
}

#categories ul {
  margin-top: 32px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  gap: 16px;
  color: var(--c14);
  justify-content: center;
  flex-wrap: wrap;
}

#categories li {
  background-color: #fbf6ff;
  border-radius: 20px;
  font: 500 1.25rem/1.5 "Roboto";
  padding: 6px 16px;
}

#categories .active {
  background: linear-gradient(var(--r8) 0%, var(--r10) 100%);
  color: var(--c2);
}

#links {
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--c1);
  font: 500 1.4rem/1.5 "Poppins";
  gap: 48px;
}

#links img {
  margin-right: 8px;
}

#links div {
  display: flex;
  gap: 4px;
  align-content: center;
}

#links a:hover {
  color: var(--r5);
}

#footer {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: center;
}

#footer h4 {
  color: var(--r10);
  font: 500 1.3rem/1.5 "Poppins";
  margin-bottom: 8px;
}

#footer p {
  color: var(--r13);
  font: 400 1rem/1.5 "Poppins";
  white-space: nowrap;
}

#copyrigth {
  margin-top: 60px;
  margin-bottom: 32px;
  text-align: center;
  font: 500 1.3rem/1.5 "Roboto";
  color: var(--r12);
}

#shopping .modal-content,
#notifications .modal-content {
  margin: 8.4% 57.3%;
  width: 34%;
  background-color: var(--c1);
  position: relative;
  padding: 0px;
}

#shopping .modal-content div,
#notifications .modal-content div {
  background-color: var(--r1);
  padding: 16px 40px;
}

#shopping .modal-content::after,
#notifications .modal-content::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: 24px;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid var(--c1);
  position: absolute;
  right: 17%;
  top: -44px;
}

#shopping li {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 40px 2fr 1fr 1fr;
  align-items: center;
  gap: 12px;
}

#shopping .modal-content p {
  padding: 12px 24px;
  font: 500 0.9rem/1.2 "Poppins";
  display: block;
  text-align: start;
}

#shopping .modal-content > p,
#notifications .modal-content > p {
  color: var(--c8);
  font-weight: 500;
  padding: 20px 40px;
}

#shopping .modal-content p + p,
#notifications .modal-content p + p {
  justify-self: end;
  font: 600 0.9rem/1.2 "Poppins";
  color: var(--r9);
}

#shopping img {
  position: static;
  max-width: 40px;
  cursor: default;
}

#shopping .modal-content #titulo,
#notifications .modal-content #titulo {
  color: var(--c14);
}

#shopping #more {
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin: 24px 80px;
}

#shopping #remove {
  cursor: pointer;
}

#notifications .modal-content {
  margin: 8.4% 62.7%;
}

#notifications li {
  margin-top: 12px;
  align-items: center;
  display: flex;
  align-content: center;
  column-gap: 20px;
}

#notifications li img {
  position: static;
  max-width: 60px;
  cursor: default;
}

#notifications .modal-content li p {
  text-align: start;
  font: 400 1rem/1 "Poppins";
  align-self: center;
  color: var(--r12);
}

#modal-livro .modal-content {
  width: 85%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 0.9fr 2fr 1.1fr;
  gap: 48px;
  justify-items: center;
}

#modal-livro img {
  position: static;
  cursor: default;
}

img#close {
  position: fixed;
  right: 48px;
  cursor: pointer;
}

#livro-meio h2 {
  font: 500 2rem/1.3 "Poppins";
  color: var(--c12);
  margin-bottom: 8px;
}

#livro-meio #first-avaliation {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
}

#livro-meio #first-avaliation p {
  font: 500 1.25rem/1.1 "Poppins";
  color: var(--r10);
}

#livro-meio #first-avaliation img + p {
  font: 400 1rem/1.1 "Poppins";
  margin-left: 8px;
  color: var(--c14);
}

#livro-meio #sinopse {
  text-align: start;
  font: 400 0.9rem/1.2 "Poppins";
  margin-bottom: 16px;
}

#livro-meio #extra-info {
  display: flex;
  margin-bottom: 24px;
}

#livro-meio #extra-info li {
  padding: 4px 11px;
}

#livro-meio #extra-info li:nth-child(odd) {
  border: 2px solid var(--c5);
  border-right: none;
}

#livro-meio #extra-info li:nth-child(even) {
  border: 2px solid var(--c5);
  border-right: none;
}

#livro-meio #extra-info li:last-child {
  border-right: 2px solid var(--c5);
}

#livro-meio #extra-info p + p {
  font-weight: 500;
  color: var(--c14);
}

#livro-meio #avaliacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
}

#livro-meio #avaliacao h3 {
  text-align: start;
  font: 500 1.4rem/1.5 "Poppins";
  color: var(--c13);
  margin-bottom: 20px;
}

#livro-meio #avaliacao h3 + p {
  grid-column: 1/2;
  text-align: start;
  font: 600 3rem/0.8 "Poppins";
  color: var(--r10);
}

#livro-meio #avaliacao img {
  grid-column: 1/2;
  cursor: default;
}

#livro-meio #avaliacao > div {
  align-self: flex-end;
}

#livro-meio #avaliacao ul {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: flex-end;
  margin-bottom: 4px;
}

#livro-meio #avaliacao li {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

#livro-meio #avaliacao li p {
  font: 400 0.9rem/1 "Poppins";
  color: var(--c12);
}

#livro-meio #avaliacao li img {
  grid-column: 2/3;
}
#livro-compra {
  border: 2px solid var(--c3);
  padding: 16px 24px;
}

#livro-compra > p {
  text-align: start;
  font: 500 0.9rem/1.2 "Poppins";
  text-decoration: line-through;
  color: var(--c9);
}

#livro-compra > div {
  display: flex;
  gap: 12px;
  align-items: center;
}

#livro-compra h3 {
  font: 500 1.7rem /1.2 "Poppins";
  letter-spacing: -1px;
}

#livro-compra > div p {
  font: 600 1.2rem /1.2 "Poppins";
  color: #951c26;
}

#livro-compra > ul {
  margin-top: 4px;
  padding: 8px 0px;
  border-top: 2px solid var(--c4);
  border-bottom: 2px solid var(--c4);
  margin-bottom: 8px;
}

#livro-compra .flex {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

#livro-compra h4 {
  font: 600 0.85rem/1.2 "Poppins";
}

#livro-compra ul ul li {
  font: 500 0.8rem/1.2 "Poppins";
  position: relative;
  margin-left: 32px;
  margin-bottom: 8px;
}

#livro-compra #ultimo {
  margin-bottom: 4px;
}

#livro-compra ul ul li::before {
  position: absolute;
  left: -18px;
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("WeBook/img/Verify.svg") no-repeat center;
}

#livro-compra a {
  display: block;
  font: 600 0.87rem/1.2 "Roboto";
  color: var(--c1);
  text-align: center;
  background: linear-gradient(#d71bc4 0%, #720f54 100%);
  border-radius: 4px;
  padding: 12px 0px;
  margin-bottom: 8px;
}

#livro-compra a + a {
  background: linear-gradient(#8f21e0 0%, var(--r10) 100%);
  margin-bottom: 12px;
}

#livro-compra h5 {
  text-align: center;
  font: 600 0.9rem/1.2 "Poppins";
  margin-bottom: 8px;
}

#livro-compra h5 + img {
  padding-left: 30px;
}

@media (max-width: 1000px) {
  #header {
    margin-top: 20px;
    gap: 20px;
  }

  #header #logo {
    font-size: 2.6rem;
  }

  #input-wrapper > input,
  #input-wrapper > input::placeholder {
    font-size: 1.1rem;
    height: 2.4rem;
  }

  .search-icon {
    width: 36px;
    height: 36px;
    top: 5px;
    right: -4px;
  }

  .modal-content {
    width: 50%;
  }
}

@media (max-width: 800px) {
  #logo {
    grid-area: logo;
  }

  #header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo symbols" "input input";
  }

  #header #input-wrapper {
    grid-area: input;
    margin-bottom: 4px;
  }

  #symbols {
    grid-area: symbols;
    justify-content: end;
    gap: 32px;
  }

  #symbols img {
    width: 36px;
    height: 36px;
  }

  #input-wrapper > input {
    height: 2.2rem;
    width: 80%;
    margin-left: 20px;
  }

  #header #logo {
    font-size: 2.2rem;
    line-height: 1;
  }

  .search-icon {
    right: 11%;
    top: 5px;
    width: 34px;
    height: 34px;
  }

  #categories li {
    font-size: 1rem;
  }

  #naoEncontrou {
    font-size: 1.5rem;
  }

  .modal-content > a {
    padding: 12px;
  }

  .modal-content p {
    font-size: 0.7rem;
  }
}
